/*
    Developer's Note    
    The fonts used in this styles folder are for personal use. 
    Kindly refrain from sharing the fonts.
    Wasn't able to animate the transitions for the menu pages (it should slide in and out).
    Wasn't able to create an icon library or a design system on short notice, 
        hence the poor design system and lots of icon assets in the folder.
        hence the multiple CSS style sheets (yes, I'm embarrassed, it's very unorganized).
*/

html {
    cursor: url('assets/CursorRegular.svg'), auto;
}

@font-face {
    font-family: "Specify";
    src: url("fonts/SpecifyPERSONAL-ExpBlack.ttf");
}

@font-face {
    font-family: "Specify Thin";
    src: url("fonts/SpecifyPERSONAL-ExExpBold.ttf");
}

@font-face {
    font-family: "Specify Bold";
    src: url("fonts/SpecifyPERSONAL-ExpBold.ttf")
}

body {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 4fr 1fr;
    margin: 5px;
}

h1 {
    font-family: "Specify";
    font-size: 24px;
    color: #FF1369;
    text-align: center;
}

a {
    text-decoration: none;
    cursor: url('assets/CursorCrosshair.svg'), auto;
}

#navbar {
    overflow: hidden;
    position: fixed;
    bottom: 0;
}

h1:hover {
    text-decoration: underline;
    transition: 1s;
    color: #FF1369;
}

h2 {
    font-family: "Specify Thin";
    font-size: 14px;
    color: #FF1369;
    margin: 200px 0px 200px 0px;
    padding: 0;
}

#left-h2 {
    transform: rotate(-90deg);
}

#right-h2 {
    transform: rotate(90deg);
}

.next-menu {
    display: flex;
    margin: auto;
    flex-direction: row;
    align-items: baseline;
    gap: 0px;
}

.next-menu:hover {
    gap: 10px
}

main {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
    height: 450px;
    align-items: center;
}

#pizza {
    width:100%;
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.menu-item {
    margin-top: 60px;
    padding: 75px;
    margin-bottom: 120px;
}

h3 {
    font-family: "Specify Bold";
    color: #FF1369;
}

p {
    font-family: "Montserrat";
    color: #1F1E25;
    font-size: 14px;
}

h4 {
    font-family: "Specify Bold";
    font-size: 20px;
    color:#FF1369;
    padding: 16px;
    text-align: center;
}

h4:hover {
    text-decoration: underline;
    transition: 1s;
    color: #FF1369;
}

.next {
    margin: auto;
}

#soulfood {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: auto;
    gap: 10px;
}

#logo {
    width:auto;
    height: 90%;
}

h5 {
    font-family: "Specify";
    font-size: 18px;
    color: #FF1369;
    text-align: center;
    padding-bottom: 5px;
}

#middle-h {
    font-family: "Specify Bold";
    font-size: 20px;
    color:#FF1369;
    padding: 16px;
    text-align: center;
}

#middle-h:hover {
    text-decoration: underline;
    color: #FF1369;
}